# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# docker
docker-compose.override.yml

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/old

TODO.md
.netlify
.vscode

/src/locales/_build/
/src/locales/**.json
messages.js

/tests/screenshots/2*
